.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width: 500px;
    background: #fff;
    padding-bottom: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 10px;
}

.text {
    color: black;
    font-size: 36px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin:  auto;
    width: 480px;
    height: 45px;
    background: #fff;
    border-radius: 6px;
}

.input img {
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password {
    padding-left: 62px;
    margin-top: 50px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span {
    color: #4c00b4;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray {
    background: #EAEAEA;
    color: #676767;
}

.wave-effect {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    
    /* Hiệu ứng chuyển động màu RGB */
    background: linear-gradient(1000, 
      rgba(255, 0, 0, 0.8), 
      rgba(0, 255, 0, 0.8), 
      rgba(0, 0, 255, 0.8));
    background-size: 200% 100%;
    animation: waveMotion 4s infinite ease-in-out;
    
    /* Tạo hiệu ứng lượn sóng */
    clip-path: polygon(0 80%, 100% 90%, 100% 100%, 0% 100%);
  }
  
  @keyframes waveMotion {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  